* {
  overflow-x: hidden;
}
html {
  /* height: 100%; */
  overflow: hidden;
  margin: 0;
}
body {
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
